services:
  - type: web
    name: streamx-backend
    env: node
    buildCommand: npm install && npx prisma generate && npm run build
    startCommand: npm run db:push && npm run start
    envVars:
      - key: PORT
        value: 3001
      - key: DATABASE_URL
        sync: false
      - key: DIRECT_URL
        sync: false
      - key: REDIS_URL
        sync: false
      - key: JWT_SECRET
        generateValue: true
      - key: CLIENT_URL
        sync: false
      - key: OPHIM_API_URL
        value: https://ophim1.com
